<%- include("header") -%>

<h2>To Do List</h2>
<p>In this to do list, you can add your casual tasks as well as your work task or objective of the day either at work or in general.</p>

<%- include("footer") -%>