<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>To Do List</title>

    <link rel="stylesheet" href="css/styles.css">c

  </head>
  <body>
    <h1><%= WeekDay %></h1>
    <ul>
      <% for (var i = 0; i < newTask.length; i++){ %>
        <li> <%= newTask[i] %> </li>
      <% } %>
    </ul>
    <form action="/" method="post">
      <input type="text" name="nextTask">
      <button type="submit">Add</button>
    </form>
  </body>
</html>
